.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .description{
    font-size: calc(10px + 3vh);
    color: white;
    margin-bottom: 5vh;
}