@font-face {
    font-family: 'CF Crack and';
    src: local('CF Crack and Bold Regular'), local('CFCrackandBold-Regular'),
        url('/assets/fonts/CFCrackandBold-Regular.woff2') format('woff2'),
        url('/assets/fonts/CFCrackandBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
  margin: 0;
  padding: 70px 0 0 0;
  font-family: 'Roboto', cursive;
  background: url(/assets/images/wallpaper-mega-rayquaza.jpg) no-repeat center center / cover;
}

*{
  box-sizing: border-box;
}

.page{
  padding: 20px;
  min-height: calc(100vh - 140px);
}
