.dog-list{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.dog{
    background-color: #27ae60;
    width: 30%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 400px;
}

.dog .dog-icon{
    width: 100px;
    height: 100px;
    background: white no-repeat center center / cover;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.dog .dog-field{
    color: white;
}