footer{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5)
}

footer .member{
    padding: 0 5px;
    position: relative;
}

footer .icon{
    position: absolute;
    bottom: 55%;
    width: 64px;
    left: 50%;
    transform: translateX(-50%);
}

footer .pseudo{
    padding-top: 20%;
}