form{
    color: white;
    background-color: #27ae60;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
    width: 50vw;
    max-width: 400px;
}

form .title{
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 10px;
}

form .form-field{
    padding: 10px 0;
}

form input{
    display: block;
    margin-top: 5px;
    padding: 8px;
    border: 0;
}

form input[type='text'], form input[type='password'] {
    width: 100%;
}


form .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

form .button input{
    background-color: white;
    font-weight: bold;
    padding: 15px 25px;
}