header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    background-color: #27ae60;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 70px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 37;
}

header .title{
    font-size: 2.5em;
    padding-bottom: 8px;
    color: white;
    font-weight: bold;
    font-family: 'CF Crack and', cursive;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav .nav-item{
    padding: 0 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

header .ouf {
    position: absolute;
    height: 60px;
    width: 50px;
    animation: guedin 10s ease infinite;
}

@keyframes guedin {
    0% {transform: scale3d(1, 1, 1) translateY(-2px); height: 60px; width: 100px;}
    25% {transform: scale3d(-1, 1, -1) translateY(-2px); height: 60px; width: 100px;}
    50% {transform: scale3d(1, 1, 1) translateY(-500px) translateX(-400px); height: 2000px; width: 1600px;}
    75% {transform: scale3d(-1, 1, -1) translateY(-2px); height: 60px; width: 100px;}
    100% {transform: scale3d(1, 1, 1) translateY(-2px); height: 60px; width: 100px;}
}

a {
    color:white;
    text-decoration: none;
}